<div class="card mt-4">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>
        <hr>
        <small>Data de publicação:{{postagens.date}}</small>
        <hr>
        {{postagens.conteudo}}
    </div>
</div>